@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Noto+Sans+Mono&display=swap');

html{
    padding: 30px;
    margin: 0;
}

.body_class{
    font-size: 30px;
    padding: 10px;
    line-height: 60px;
}

.level_let{
    font-family: 'Noto Sans Mono', monospace;
    position: relative;
    width: 100px;
    right: -620px;
    bottom: 234px;
    font-size: 30px;
}

.level_num{
    position: relative;
    bottom:291px;
    left: 770px;
}

.score_num{
    position: relative;
    left: 165px;
    bottom: 59px;
}

.score_let{
    font-family: 'Noto Sans Mono', monospace;

}

.en_let{
    font-family: 'Noto Sans Mono', monospace;
    position: relative;
    bottom: 60px;
    right: 1px;
}

.en_num{
    position: relative;
    bottom: 119px;
    left: 235px;
}

.body_button{
    position: relative;
}


.button_1{
    font-family: 'Noto Sans Mono', monospace;
    width: 200px;
    height: 90px;
    position: relative;
    left: 617px;
    bottom: 150px;
    font-size: larger;
    border-width: 15px;
    border-color: darkred;
    border-radius: 10%;
}

.circle{
    height: 10em;
    width: 10em;
    border-radius: 50%;
    background: black;
    text-align: center;
    position: relative;
    margin: 0 auto;
    bottom:240px;

}

.hide{
    border-radius: 30%;
}
